*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    /* font-family: "Quicksand"; sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

}

header{
    /* padding: 0 10vw;
    background: black; */

}
nav{
    display: flex;
    justify-content: space-between;
    padding:10px 5vw;
    background-color: rgb(0, 16, 37);
    height: 8vh;
    align-items: center;
    border-bottom: 1px solid pink;
}
.nav-links{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin-top: 8px;
}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

.nav-link:hover{
    text-decoration: none;
    color: rgb(0, 255, 221);;
    
}

li{
    list-style-type: none;
}

.logo{
    color: rgb(114, 250, 216);
    font-weight: 30;
}

.intro{
    background-color: rgb(0, 16, 37);
    height: 70vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10vw;
}

.intro-text{
    display: flex;
    height: 20vh;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* border: 1px solid white; */
    width: 60vw;
    /* font-weight: 350; */
    
}

/* #hello{
    color: white;
} */

#my-name{
    font-size: 60px;
    color: white;
    font-variant-caps: all-small-caps;
    font-weight: 400;
    
    /* color: rgb(0, 255, 221); */
    
}

.my-heading{
    color: rgb(154, 39, 160);
    font-weight: 400;
    font-variant: all-small-caps;
    font-size: 18px;
}

.my-bio{
    color: teal;
    font-size: 15px;
    font-weight: 300;
}

.buttons{
    height: 10vh;
    background-color: rgb(0, 16, 37);
    /* border: 1px solid white; */
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.button-shape{
    height:35px;
    padding: 0 10px;
    border-radius: 15px;
    font-size: 13px;
    margin: 10px;
    
}

.btn-opaque{
    background-color: purple;
    color: white;

}

.btn-hollow{
    background-color: black;
    color: white;
    border: 1px solid white;

}

.btn-opaque:hover{
    background-color: orange;
    color: white;
    
}
.btn-hollow:hover{
    color: aqua;
    background-color: black;
    border-color: white;
}




/* ----ABOUT PAGE---- */

#about-main{
    background-color: rgb(0, 16, 37);
    color: white;
    padding: 5vw;
    
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    /* border: 2px solid white; */
}

#about-title{
    color: rgb(154, 39, 160);
    font-size: 40px;
    /* font-variant-caps: all-small-caps; */
    font-weight: 400;
}

#about-container{
    display:flex;
    /* justify-content: space-evenly; */
}

#about-main h2{
    color: rgb(114, 250, 216);
    margin: 10px;
}

#about-main h3{
    margin: 10px;
}

.prof-section{
    border: 2px solid white;
    margin: 10px;
    padding: 10px 20px ;
    width: 40vw;
}

#my-img{
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(1, 108, 108);
    border: 3px solid white;
    margin: 40px 10px;
    display: flex;
    justify-self: center;
}

.prof-section p{
    padding: 10px;
}

.skills-list{
    border: 2px solid blue;
    border-radius: 15px;
    margin: 10px;
    padding: 15px 10px;
}

.skills-list button{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 15px;
}

.about-tags{
    margin: 0 15px;
}

.skill-tag{
    border: 2px solid white;
    background-color: rgb(11, 133, 133, 0);
    color: white;
}

.skill-tag:hover{
    background-color: teal;
}

.education{
    border: 2px solid blue;
    border-radius: 15px;
    margin: 10px;
    padding: 15px 10px;
}

#btn-resume{
    color: white;
    background-color: purple;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 15px;
}

#btn-resume:hover{
   background-color: orange;
}

.education p{
    margin: 15px;
    
}


/* ----PROJECTS PAGE---- */
#projects-main{
    background-color: rgb(0, 16, 37);
    color: white;
    padding: 5vw;
}

#projects-title{
    color: rgb(154, 39, 160);
    font-size: 40px;
    /* font-variant-caps: all-small-caps; */
    font-weight: 400;
}

.project{
    border: 2px solid white;
    border-radius: 15px;
    margin: 25px 15px;
    display: flex;
}

.project:hover{
    transform: scale(1.02);
    /* How to make float up or shadow */
}

.proj-text{
    margin: 15px;
}

.project h3{
    padding: 10px 0;

}
.project h3:hover{
    color: aqua;
}

.project button{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 15px;
}

.proj-tag{
    border: 2px solid white;
    background-color: rgb(11, 133, 133, 0);
    color: white;
}

.proj-tag:hover{
    background-color: teal;
}

.btn-code:hover{
    background-color: purple;
    color: white;
}




/* ----CONTACT PAGE---- */
#contact-main{
    background-color: rgb(0, 16, 37);
    color: white;
    padding: 5vw;
}

#contact-title{
    color: rgb(154, 39, 160);
    font-size: 40px;
    /* font-variant-caps: all-small-caps; */
    font-weight: 400;
}

#contact-form{
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

#contact-info{
    /* border: 2px solid blue; */
    margin: 10px;
}
#contact-info h3{
    margin: 15px;
}
#contact-info h4{
    margin: 10px;
}

.icon-myinfo{
    margin: 10px;
}

.social{
    margin: 10px;
}

#write-section{
    border: 2px solid white;
    border-radius: 15px;
    background-color: teal;
    padding: 10px;
    margin: 15px;
    width: 30vw;
    
}

.textbox{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    width:80%;

}

#form-message{
    /* display: flex;
    justify-self:; */
}

#contact-submit{
    display: block;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 15px;
}